autopep8==1.2.4
blessings==1.6
bpython==0.15
curtsies==0.2.6
greenlet==0.4.10
Logbook==1.0.0
lxml==3.6.0
pep8==1.7.0
py==1.4.31
Pygments==2.1.3
pyshark==0.3.6.1
requests==2.10.0
six==1.10.0
tabulate==0.7.5
trollius==1.0.4
ua-parser==0.7.1
wcwidth==0.1.7
yapf==0.12.1
